In [1]:
import numpy as np
import pandas as pd
import os
import sys
import pickle
import time
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
from importlib import reload
%matplotlib inline
from IPython.core.display import display, HTML, clear_output
display(HTML("<style>.container { width:80% !important; }</style>"))

In [2]:
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 999

In [3]:
cwd = os.getcwd()
path = os.path.join(cwd, '..', 'src')
if not path in sys.path:
    sys.path.append(path)
del cwd, path

In [4]:
from MovieRecommender import PMF

In [5]:
del PMF

In [6]:
from MovieRecommender_test import PMF

In [7]:
adam = pd.read_csv('adam_profile.csv', index_col=0)

In [8]:
adam.head()

   movieId  rating
0        1       4
1    33794       5
2     3755       5
3     2053       2
4   102407       5

In [9]:
cwd = os.getcwd()
ratings = pd.read_csv(os.path.join(cwd, "..", "data", "ratings.csv"))

In [10]:
ratings.drop('timestamp', axis=1, inplace=True)

In [11]:
ratings.head()

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5
2       1       32     3.5
3       1       47     3.5
4       1       50     3.5

In [12]:
max_userId = ratings['userId'].max()

In [13]:
max_userId

138493

In [14]:
adam_id = max_userId + 1

In [15]:
adam['userId'] = adam_id

In [16]:
adam.head()

   movieId  rating  userId
0        1       4  138494
1    33794       5  138494
2     3755       5  138494
3     2053       2  138494
4   102407       5  138494

In [17]:
adam = adam[['userId', 'movieId', 'rating']]

In [18]:
adam.head()

   userId  movieId  rating
0  138494        1       4
1  138494    33794       5
2  138494     3755       5
3  138494     2053       2
4  138494   102407       5

In [19]:
ratings.shape, adam.shape

((20000263, 3), (612, 3))

In [20]:
ratings.shape[0] + adam.shape[0]

20000875

In [21]:
ratings_combined = pd.concat([ratings, adam])

In [22]:
ratings_combined.shape

(20000875, 3)

In [23]:
ratings_combined.head()

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5
2       1       32     3.5
3       1       47     3.5
4       1       50     3.5

In [24]:
ratings_combined.isnull().sum()

userId     0
movieId    0
rating     0
dtype: int64

In [25]:
pmf = PMF(rank=10, lamd=7.5, sig2=0.5, verbose=True)

In [ ]:
pmf.fit(ratings_combined)

force_refresh is set to: True
persisting user mapping
persisting movie mapping
building omega | 2017-08-08 17:02:12.512816
building omega_u | 2017-08-08 17:02:35.681375